body {
  margin: 0;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.container #root {
  flex: 1;
}

.container img {
  margin-left: 20px; /* add some space between the ToDo list and the image */
  flex: 0; /* don't allow the image to grow or shrink */
}

.app {
  background: #e0c5f3;
  padding: 30px;
  height: 70vh;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
